/* Импорты файлов css*/
@import url();

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.padding_container {
    padding-left: 160px;
    padding-right: 160px;
}

.container {
    max-width: 1119px;
    margin: 0 auto;
}

.hidden_main {
    visibility: hidden;
}

.dnone {
    display: none;
}

/* -----------код для header----------- */

.tablet {
    display: none;
}

.header_container {
    display: flex;
    background-color: #1C1B2F;
    justify-content: space-between;
    color: #FFF;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    gap: 8px;
}    


.header_phone_number {
    width: 158px;
    font-weight: 100;
    font-size: 16px;
    line-height: 23.4px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

.header_registration {
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.4px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header_white_icon {
    width: 24px;
    margin: 0;
    height: 24px;
}

.registration_icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 24px;
}

.logo {
    width: 158px;
}

.btn_price_faq {
    display: flex;
    justify-content: space-between;
    align-self: auto;
    gap: 381px;
}

.price_faq {
    display: flex;
    gap: 40px;
}

.price {
    width: 54px;
    height: 17px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.faq {
    width: 68px;
    height: 17px;
}

.button_primary {
    width: 198px;
    height: 48px;
    font-size: 17px;
    border: 1px solid #F38F57;
    border-radius: 8px;
    background-color: #F38F57;
    color: #FFF;
    margin: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .dekstop {
        display: none;
    }

    .tablet {
        display: flex;
        justify-content: space-between;
        padding-left: 44px;
        padding-right: 44px;
        padding-top: 16px;
    }

    .tablet_logo {
        width: 99px;
        height: 52px;
    }

    .icon_btn_dashes {
        display: flex;
        align-items: center;
        gap: 36px;
    }

    .tablet_icon {
        width: 36px;
        height: 36px;
    }

    .button_primary {
        width: 198px;
        height: 48px;
        font-size: 17px;
        border: 1px solid #F38F57;
        border-radius: 8px;
        background-color: #F38F57;
        color: #FFF;
        margin: 0;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .three_dashes {
        width: 32px;
        height: 16px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .header_container {
        display: flex;
        background-color: #1C1B2F;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
    }    

    .tablet {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        align-items: end;
    }

    .icon_btn_dashes {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .header_phone_number {
        font-weight: 100;
        font-size: 16px;
        line-height: 23.4px;
        padding-left: 161px;
        padding-top: 10px;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .header_registration {
        font-size: 16px;
        font-weight: 500;
        line-height: 23.4px;
        margin: 0;
        padding-left: 834px;
        padding-right: 12px;
        padding-top: 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .header_white_icon {
        margin: 0;
        height: 24px;
        padding-right: 160px;
        padding-top: 8px;
    }

    .tablet_icon {
        width: 32px;
        height: 32px;
    }

    .three_dashes {
        width: 32px;
        height: 16px;
    }

    .logo__container {
        display: flex;
        justify-content: space-between;
        order: 1;
    }

    .tablet_logo {
        width: 83px;
        height: 42px;
    }
    .logo {
        display: none;
        width: 83px;
        height: 42px;
    }

    .btn_price_faq {
        display: flex;
        justify-content: space-between;
        align-self: auto;
        padding-right: 160px;
    }

    .price {
        width: 54px;
        height: 17px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-right: 40px;
        padding-top: 68px;
    }

    .faq {
        width: 68px;
        height: 17px;
        padding-right: 381px;
        padding-top: 70px;
    }

    .button_primary {
        display: none;
        width: 198px;
        height: 48px;
        font-size: 17px;
        border: 1px solid #F38F57;
        border-radius: 8px;
        background-color: #F38F57;
        color: #FFF;
        margin: 0;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
}
/* -----------конец кода для header----------- */

/* -----------начало кода для main----------- */
/* -----------section 1----------- */
.achievements {
    padding-bottom: 132px;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./assets/AThinkingMan.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50vw;
}

h1 {
    font-size: 54px;
    font-weight: 800;
    margin: 0;
    color: #1C1B2F;
}

.h2_like {
    margin: 0;
    padding-top: 20px;
    font-weight: 800;
    font-size: 38px;
    color: #9C9CA1;
}

.achievements_container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 28px;
}

.first_achievement {
    display: flex;
}

.checkmark {
    width: 32px;
    height: 24px;
}

.firsr_achievement_text {
    font-size: 22px;
    font-weight: 600;
    padding-left: 24px;
    color: #1C1B2F;
} 

.second_achievement {
    display: flex;
}

.second_checkmark {
    width: 32px;
    height: 24px;
}

.second_achievement_text {
    padding-left: 24px;
    font-size: 22px;
    font-weight: 600;
    color: #1C1B2F;
}

.third_achievement {
    display: flex;
}

.third_achievement_text {
    padding-left: 24px;
    color: #1C1B2F;
    font-size: 22px;
    font-weight: 600;
}

.button_secondary {
    width: 232px;
    height: 48px;
    margin-top: 56px;
    border: 1px solid #F38F57;
    border-radius: 8px;
    background-color: #F38F57;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .achievements {
        padding: 76px 44px 68px 44px;
        font-family: 'Montserrat', sans-serif;
        background-image: url(./assets/man.png);
        background-position: 100% 70%;
        background-repeat: no-repeat;
        background-size: 39vw;
    }

    .container {
        max-width: 760px;
        margin: 0 0;
    }
    
    h1 {
        font-size: 46px;
        font-weight: 800;
        margin: 0;
    }
    
    .h2_like {
        margin: 0;
        padding-top: 20px;
        font-weight: 800;
        font-size: 30px;
        color: #9C9CA1;
    }
    
    .achievements_container {
        width: 50%;
        flex-direction: column;
        gap: 28px;
    }
    
    .first_achievement {
        display: flex;
    }
    
    .checkmark {
        width: 32px;
        height: 24px;
    }
    
    .firsr_achievement_text {
        font-size: 20px;
        font-weight: 600;
        padding-left: 24px;
        color: #1C1B2F;
    } 
    
    .second_achievement {
        display: flex;
    }
    
    .second_checkmark {
        width: 32px;
        height: 24px;
    }
    
    .second_achievement_text {
        padding-left: 24px;
        font-size: 20px;
        font-weight: 600;
        color: #1C1B2F;
    }
    
    .third_achievement {
        display: flex;
        font-family: 'Montserrat', sans-serif;
    }
    
    .third_achievement_text {
        padding-left: 24px;
        color: #1C1B2F;
        font-size: 20px;
        font-weight: 600;
    }
    
    .button_secondary {
        width: 232px;
        height: 48px;
        margin-top: 56px;
        border: 1px solid #F38F57;
        border-radius: 8px;
        background-color: #F38F57;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #FFF;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .mobile {
        display: none;
    }

    .padding_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .achievements {
        padding-bottom: 52px;
        padding-top: 44px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        background-image: url(./assets/man.png);
        background-position: 100% 78%;
        background-repeat: no-repeat;
        background-size: 37vw;
    }

    .container {
        max-width: 767px;
        margin: 0 0;
    }
    
    h1 {
        font-size: 26px;
        font-weight: 800;
        margin: 0;
    }
    
    .h2_like {
        margin: 0;
        padding-top: 12px;
        font-weight: 800;
        font-size: 18px;
        color: #9C9CA1;
    }
    
    .achievements_container {
        width: 75%;
        flex-direction: column;
        gap: 24px;
    }

    .first_achievement {
        display: flex;
        width: 82%;
    }
    
    .checkmark {
        width: 24px;
        height: 18px;
    }
    
    .firsr_achievement_text {
        font-size: 14px;
        font-weight: 600;
        padding-left: 20px;
        color: #1C1B2F;
    } 
    
    .second_achievement {
        display: flex;
        width: 86%;
    }
    
    .second_checkmark {
        width: 24px;
        height: 18px;
    }
    
    .second_achievement_text {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #1C1B2F;
    }
    
    .third_achievement {
        display: flex;
        width: 90%;
    }
    
    .third_achievement_text {
        padding-left: 20px;
        color: #1C1B2F;
        font-size: 14px;
        font-weight: 600;
    }
    
    .button_secondary {
        display: none;
        width: 232px;
        height: 48px;
        border: 1px solid #F38F57;
        border-radius: 8px;
        background-color: #F38F57;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #FFF;
    }
}
/* -----------конец section 1----------- */


/* -----------начало section 2----------- */
.rights_and_steps {
    margin: 0;
    background-color: #FFFCFA;
    padding-top: 120px;
    padding-bottom: 136px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.protection_of_right {
    font-weight: 800;
    font-size: 38px;
    color: #1C1B2F;
    margin: 0;
    text-align: center;
}

.three_steps {
    padding-top: 24px;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #9C9CA1;
    text-align: center;
}

/* .line_image {
    width: 1532px;
    height: 140px;
    padding-top: 80px;
    padding-left: -20px;
    border: 2px #FDEAD7;
    color: #FDEAD7;
    
} */

.steps_and_text {
    display: flex;
    background-color: #FFFCFA;
    padding-top: 131px;
    justify-content: space-between;
    gap: 12px;
}

.step {
    font-weight: 800;
    font-size: 84px;
    color: #F38F57;
    font-family: 'Montserrat', sans-serif;
}

.text_under_step {
    padding-top: 32px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #1C1B2F;
}
@media (min-width: 768px) and (max-width: 1023px) {
    .rights_and_steps {
        margin: 0;
        background-color: #FFFCFA;
        padding-top: 68px;
        padding-bottom: 136px;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
    }
    
    .protection_of_right {
        font-weight: 800;
        font-size: 38px;
        color: #1C1B2F;
        margin: 0;
        text-align: center;
    }
    
    .three_steps {
        padding-top: 24px;
        font-weight: 700;
        font-size: 24px;
        margin: 0;
        color: #9C9CA1;
        text-align: center;
    }
    
    /* .line_image {
        width: 1532px;
        height: 140px;
        padding-top: 80px;
        padding-left: -20px;
        border: 2px #FDEAD7;
        color: #FDEAD7;
        
    } */
    
    .steps_and_text {
        display: flex;
        background-color: #FFFCFA;
        padding-top: 94px;
        justify-content: space-between;
        flex-direction: column;
        gap: 12px;
    }

    .padding_container {
        padding-left: 44px;
        padding-right: 44px;
    }

    .step_container {
        display: flex;
        gap: 40px;
    }
    
    .step {
        font-weight: 800;
        font-size: 84px;
        color: #F38F57;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text_under_step {
        padding-top: 14px;
        font-weight: 500;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: #1C1B2F;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .rights_and_steps {
        margin: 0;
        background-color: #FFFCFA;
        padding-top: 52px;
        padding-bottom: 52px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .protection_of_right {
        padding-left: 26px;
        font-weight: 800;
        font-size: 22px;
        color: #1C1B2F;
        margin: 0;
        text-align: center;
    }
    
    .three_steps {
        padding-top: 16px;
        padding-left: 49px;
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        color: #9C9CA1;
        text-align: center;
    }
    
    /* .line_image {
        width: 1532px;
        height: 140px;
        padding-top: 80px;
        padding-left: -20px;
        border: 2px #FDEAD7;
        color: #FDEAD7;
        
    } */
    
    .steps_and_text {
        display: flex;
        flex-direction: column;
        background-color: #FFFCFA;
        padding-top: 68px;
        padding-left: 20px;
        gap: 48px;
    }
    
    .step_container {
        display: flex;
    }

    .step {
        font-weight: 800;
        font-size: 54px;
        color: #F38F57;
        font-family: 'Montserrat', sans-serif;
        order: 1;
    }
    
    .text_under_step {
        padding-top: 12px;
        padding-left: 28px;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #1C1B2F;
        order: 1;
    }
}
/* -----------конец section 2----------- */


/* -----------начало section 3----------- */
.frames_and_price {
    padding-top: 100px;
    padding-bottom: 136px;
}

.price_question {
    padding-left: 395px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1C1B2F;
}

.comparison_actually {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #9C9CA1;
    padding-bottom: 20px;
}

.comparison_if {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #9C9CA1;
    padding-bottom: 20px;
}

.frames_with_prices {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; 
    gap: 12px;
}

.blue_frame {
    width: 544px;
    height: 135px;
    border: 2px solid #1C1B2F;
    border-radius: 14px;
}

.setting_blue_frame {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    gap: 8px;
    font-size: 22px;
    font-weight: 700;
    color: #1C1B2F;
    font-family: 'Montserrat', sans-serif;
}

.orange_price {
    color: #F38F57;
    font-family: 'Montserrat', sans-serif;
}

.text_in_blue_frame {
    display: flex;
    color: #9C9CA1;
    font-size: 12px;
    font-weight: 500;
    padding-top: 12px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services {
    padding-left: 25px;
}

.orange_frame {
    width: 544px;
    height: 135px;
    border: 2px solid #F38F57;
    border-radius: 14px;
}

.setting_orange_frame {
    display: flex;
    color: #1C1B2F;
    font-size: 22px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    gap: 8px;
}

.text_in_orange_frame {
    display: flex;
    color: #9C9CA1;
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.setting_second_service {
    width: 222px;
    height: 56px;
}

.second_services {
    padding-left: 55px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 1023px;
        margin: 0px 0px;
    }

    .frames_and_price {
        padding: 80px 44px 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .price_question {
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #9C9CA1;
        text-align: center;
    }

    .comparison_actually {
        font-weight: 600;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        color: #9C9CA1;
        padding-bottom: 16px;
    }
    
    .comparison_if {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #9C9CA1;
        padding-bottom: 16px;
    }
    
    .frames_with_prices {
        display: flex;
        justify-content: space-between;
        padding-top: 60px; 
        gap: 36px;
        flex-direction: column;
    }
    
    .blue_frame {
        width: 670px;
        height: 136px;
        border: 2px solid #1C1B2F;
        border-radius: 14px;
    }
    
    .setting_blue_frame {
        display: flex;
        padding-top: 20px;
        padding-left: 20px;
        gap: 8px;
        font-size: 22px;
        font-weight: 700;
        color: #1C1B2F;
        font-family: 'Montserrat', sans-serif;
    }
    
    .orange_price {
        color: #F38F57;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text_in_blue_frame {
        display: flex;
        width: 239px;
        height: 40px;
        color: #9C9CA1;
        font-size: 12px;
        font-weight: 500;
        padding-top: 12px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .services {
        padding-left: 25px;
    }
    
    .orange_frame {
        width: 680px;
        height: 153px;
        border: 2px solid #F38F57;
        border-radius: 14px;
    }
    
    .setting_orange_frame {
        display: flex;
        color: #1C1B2F;
        font-size: 22px;
        font-weight: 700;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        gap: 8px;
    }
    
    .text_in_orange_frame {
        display: flex;
        width: 450px;
        height: 56px;
        color: #9C9CA1;
        font-size: 12px;
        font-weight: 500;
        padding-top: 10px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .setting_second_service {
        width: 222px;
        height: 56px;
    }
    
    .second_services {
        padding-left: 55px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .frames_and_price {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
        padding-bottom: 52px;
        padding: 56px 20px 52px;
    }

    .price_question {
        padding-left: 19px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #9C9CA1;
    }
    
    .comparison_actually {
        padding-top: 32px;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        order: 1;
    }
    
    .comparison_if {
        padding-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 600;
        order: 3;
    }
    
    .frames_with_prices {
        display: flex;
        padding-top: 0px;
        padding-bottom: 0px;
        gap: 32px;
        flex-direction: column;
        width: 100%;
    }
    
    .blue_frame {
        width: 100%;
        height: 213px;
        border: 2px solid #1C1B2F;
        border-radius: 14px;
        order: 2;
    }
    
    .setting_blue_frame {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 21px;
        padding-top: 20px;
        padding-left: 20px;
        gap: 8px;
        font-size: 18px;
        font-weight: 700;
        color: #1C1B2F;
        font-family: 'Montserrat', sans-serif;
    }

    .fifteen_thousand {
        padding-top: 30px;
    }

    .hidden {
        visibility: hidden;
        padding-bottom: 10px;
    }

    .line {
        border: 1px solid #d3d3d8;
        width: 216px;
        height: 1px;
    }
    
    .orange_price {
        color: #F38F57;
        padding-top: 0px;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text_in_blue_frame {
        display: flex;
        flex-direction: column;
        color: #9C9CA1;
        font-size: 12px;
        font-weight: 500;
        padding-top: 0px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .services {
        padding-top: 47px;
        padding-left: 0px;
    }
    
    .orange_frame {
        width: 100%;
        height: 250px;
        border: 2px solid #F38F57;
        border-radius: 14px;
        order: 4;
    }
    
    .setting_orange_frame {
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 21px;
        color: #1C1B2F;
        font-size: 18px;
        font-weight: 700;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        gap: 8px;
    }

    .questions {
        padding-top: 70px;
    }
    
    .text_in_orange_frame {
        display: flex;
        flex-direction: column;
        color: #9C9CA1;
        font-size: 12px;
        font-weight: 500;
        padding-top: 2px;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .second_services {
        padding-left: 0px;
        padding-top: 46px;
    }
}
/* -----------конец section 3----------- */


/* -----------начало section 4----------- */
.description_and_price_list {
    padding: 120px 245px 136px;
    background-color: #FFFCFA;
    font-family: 'Montserrat', sans-serif;
}

.service_price_title {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    color: #1C1B2F;
    margin: 0;
}

.surcharge_comission {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #9C9CA1;
}

.first_price_container {
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    gap: 12px;
}

.price_three_thousand {
    color: #F38F57;
    font-size: 54px;
    font-weight: 800;
}

.price_five_half_thousand {
    color: #F38F57;
    font-size: 54px;
    font-weight: 800;
}

.second_price_container {
    display: flex;
    justify-content: space-around;
    padding-top: 82px;
    gap: 12px;
}

.price_five_thousand {
    color: #F38F57;
    font-size: 54px;
    font-weight: 800;
}

.price_six_half_thousand {
    color: #9C9CA1;
    font-size: 54px;
    font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .description_and_price_list {
        padding: 0px 44px 95px;
        background-color: #FFFCFA;
        font-family: 'Montserrat', sans-serif;
    }
    
    .service_price_title {
        text-align: center;
        font-size: 38px;
        font-weight: 800;
        color: #1C1B2F;
        margin: 0;
    }
    
    .surcharge_comission {
        padding-top: 24px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #9C9CA1;
    }
    
    .first_price_container {
        display: flex;
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-between;
        gap: 52px;
        flex-direction: column;
    }
    
    .price_three_thousand {
        color: #F38F57;
        font-size: 46px;
        font-weight: 800;
    }
    
    .price_five_half_thousand {
        color: #F38F57;
        font-size: 46px;
        font-weight: 800;
    }
    
    .second_price_container {
        display: flex;
        justify-content: space-between;
        padding-top: 52px;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        gap: 52px;
    }
    
    .price_five_thousand {
        color: #F38F57;
        font-size: 46px;
        font-weight: 800;
    }
    
    .price_six_half_thousand {
        color: #F38F57;
        font-size: 46px;
        font-weight: 800;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .description_and_price_list {
        padding: 52px 20px;
        background-color: #FFFCFA;
        font-family: 'Montserrat', sans-serif;
    }
    
    .service_price_title {
        text-align: center;
        font-size: 22px;
        font-weight: 800;
        color: #1C1B2F;
        margin: 0;
    }
    
    .surcharge_comission {
        padding-top: 24px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #9C9CA1;
    }
    
    .first_price_container {
        display: flex;
        padding-top: 56px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        font-size: 14px;
    }
    
    .price_three_thousand {
        color: #F38F57;
        font-size: 26px;
        font-weight: 800;
    }
    
    .price_five_half_thousand {
        color: #F38F57;
        font-size: 26px;
        font-weight: 800;
    }
    
    .second_price_container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        gap: 40px;
        font-size: 14px;
    }
    
    .price_five_thousand {
        color: #F38F57;
        font-size: 26px;
        font-weight: 800;
    }
    
    .price_six_half_thousand {
        color: #9C9CA1;
        font-size: 26px;
        font-weight: 800;
    }
}
/* ----------- конец section 4----------- */


/* ----------- начало section 5------------ */
.feedback {
    display: flex;
    padding-top: 120px;
    padding-bottom: 137px;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.review {
    text-align: center;
    color: #1C1B2F;
    font-size: 38px;
    font-weight: 800;
}

.review_frame {
    width: 645px;
    height: 200px;
    margin-top: 60px;
    border: 2px solid #1C1B2F;
    border-radius: 14px;
}

.review_setting {
    display: flex;
    padding-top: 48px;
    padding-left: 28px;
}

.picture_review_frame {
    width: 56px;
    height: 56px;
}

.secondary_review_picture {
    display: none;
}

.robert {
    padding-left: 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1C1B2F;
    font-weight: 700;
}

.drafting_contract {
    padding-top: 4px;
    padding-left: 32px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #9C9CA1;
}

.foreign_text {
    padding-top: 16px;
    padding-left: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1C1B2F;
}

.arrows_and_mugs {
    display: flex;
    padding-top: 36px;
    gap: 36px;
}

.arrow {
    width: 50px;
    height: 16px;
}

.mug {
    width: 68px;
    height: 12px;
    padding-top: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .feedback {
        display: flex;
        padding-top: 41px;
        padding-bottom: 68px;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        margin-right: 44px;
        margin-left: 44px;
    }
    
    .review {
        text-align: center;
        color: #1C1B2F;
        font-size: 38px;
        font-weight: 800;
    }
    
    .review_frame {
        width: 680px;
        height: 256px;
        margin-top: 80px;
        border: 2px solid #1C1B2F;
        border-radius: 14px;
    }

    .tablet_mobile {
        display: flex;
    }
    
    .review_setting {
        display: flex;
        padding-top: 36px;
        padding-left: 36px;
    }
    
    .picture_review_frame {
        display: block;
        width: 56px;
        height: 56px;
    }

    .secondary_review_picture {
        display: none;
        width: 56px;
        height: 56px;
    }
    
    .robert {
        padding-top: 8px;
        padding-left: 28px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #1C1B2F;
        font-weight: 600;
    }
    
    .drafting_contract {
        padding-top: 4px;
        padding-left: 28px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: #9C9CA1;
    }
    
    .foreign_text {
        padding-top: 16px;
        padding-left: 28px;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .arrows_and_mugs {
        display: flex;
        padding-top: 36px;
        gap: 36px;
    }
    
    .arrow {
        width: 50px;
        height: 16px;
    }
    
    .mug {
        width: 68px;
        height: 12px;
        padding-top: 2px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .feedback {
        display: flex;
        padding-top: 52px;
        padding-bottom: 52px;
        margin-right: 20px;
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .review {
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
        color: #1C1B2F;
        font-size: 22px;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }
    
    .setting_review_frame {
        padding-left: 20px;
        padding-top: 52px;
    }
    
    .review_frame {
        width: 100%;
        border: 2px solid #1C1B2F;
        border-radius: 14px;
        margin-top: 52px;
    }
    
    .review_setting {
        display: flex;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .picture_review_frame {
        display: none;
        width: 56px;
        height: 56px;
    }

    .tablet_mobile {
        display: flex;
    }

    .secondary_review_picture {
        display: block;
        width: 56px;
        height: 56px;
    }
    
    .robert {
        padding-left: 20px;
        padding-top: 12px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #1C1B2F;
        font-weight: 700;
    }
    
    .drafting_contract {
        padding-top: 4px;
        padding-left: 20px;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: #9C9CA1;
    }
    
    .foreign_text {
        padding-left: 0px;
        padding-top: 24px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .arrows_and_mugs {
        display: flex;
        width: 234px;
        height: 16px;
        padding-top: 32px;
        padding-left: 0px;
        gap: 36px;
    }
    
    .arrow {
        width: 50px;
        height: 16px;
    }
    
    .mug {
        width: 62px;
        height: 10px;
        padding-top: 2px;
    }
}
/* ----------- конец section 5----------- */


/* ----------- начало section 6----------- */

.registration_description {
    padding: 120px 160px 136px 170px;
    /* padding-top: 120px;
    padding-bottom: 136px; */
    display: flex;
    justify-content: space-between;
    background-color: #FFFCFA;
    gap: 8px;
}

.girl_picture {
    width: 448px;
    height: 464px;
    padding-top: 52px;
}

.your_convenience {
    font-weight: 800;
    font-size: 38px;
    color: #1C1B2F;
}

.registration_can {
    padding-top: 40px;
    font-weight: 700;
    font-size: 22px;
    color: #1C1B2F;
}

.first_container_possibilities {
    display: flex;
    padding-top: 22px;
}

.orange_border {
    width: 4px;
    height: 70px;
    padding-top: 2px;
}

.creation_documents {
    padding-left: 17px;
    font-size: 18px;
    font-weight: 600;
    color: #1C1B2F;
}

.second_container_possibilities {
    display: flex;
    padding-top: 20px;
}

.orange_border2 {
    width: 4px;
    height: 44px;
    padding-top: 2px;
}

.view_materials {
    padding-left: 17px;
    font-size: 18px;
    font-weight: 600;
    color: #1C1B2F;
}

.third_container_possibilities {
    display: flex;
    padding-top: 20px;
}

.learn_about_solution {
    padding-left: 17px;
    font-weight: 600;
    font-size: 18px;
    color: #1C1B2F;
}

.btn_register_oneself {
    width: 264px;
    height: 48px;
    background-color: #F38F57;
    color: #FFF;
    border: 2px solid #F38F57;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .registration_description {
        padding: 68px 24px 68px 44px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: #FFFCFA;
        gap: 12px;
        background-image: url(./assets/GirlPicture.png);
        background-repeat: no-repeat;
        background-size: 40vw;
        background-position: 99% 75%;
    }
    
    .girl_picture {
        display: none;
        width: 297px;
        height: 306px;
        padding-top: 52px;
    }
    
    .your_convenience {
        font-weight: 800;
        font-size: 38px;
        color: #1C1B2F;
    }
    
    .registration_can {
        padding-top: 80px;
        font-weight: 700;
        font-size: 26px;
        color: #1C1B2F;
    }
    
    .first_container_possibilities {
        display: flex;
        padding-top: 40px;
    }
    
    .orange_border {
        width: 4px;
        height: 72px;
        padding-top: 2px;
    }
    
    .creation_documents {
        padding-left: 12px;
        font-size: 20px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .second_container_possibilities {
        display: flex;
        padding-top: 28px;
    }
    
    .orange_border2 {
        width: 4px;
        height: 46px;
        padding-top: 2px;
    }
    
    .view_materials {
        padding-left: 12px;
        font-size: 20px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .third_container_possibilities {
        display: flex;
        padding-top: 28px;
    }
    
    .learn_about_solution {
        padding-left: 12px;
        font-weight: 500;
        font-size: 20px;
        color: #1C1B2F;
    }
    
    .btn_register_oneself {
        display: none;
        width: 264px;
        height: 48px;
        background-color: #F38F57;
        color: #FFF;
        border: 2px solid #F38F57;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 60px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .registration_description {
        padding: 52px 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: #FFFCFA;
        gap: 12px;
        background-image: url(./assets/GirlPicture.png);
        background-repeat: no-repeat;
        background-size: 47vw;
        background-position: 111% 85%;
    }
    
    .girl_picture {
        display: none;
        width: 297px;
        height: 306px;
        padding-top: 52px;
    }
    
    .your_convenience {
        font-weight: 800;
        font-size: 22px;
        color: #1C1B2F;
    }
    
    .registration_can {
        padding-top: 80px;
        font-weight: 700;
        font-size: 14px;
        color: #1C1B2F;
    }
    
    .first_container_possibilities {
        display: flex;
        padding-top: 20px;
    }
    
    .orange_border {
        width: 4px;
        height: 68px;
        padding-top: 2px;
    }
    
    .creation_documents {
        width: 50%;
        padding-left: 12px;
        font-size: 14px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .second_container_possibilities {
        display: flex;
        padding-top: 18px;
    }
    
    .orange_border2 {
        width: 4px;
        height: 50px;
        padding-top: 2px;
    }
    
    .view_materials {
        width: 50%;
        padding-left: 12px;
        font-size: 14px;
        font-weight: 500;
        color: #1C1B2F;
    }
    
    .third_container_possibilities {
        display: flex;
        padding-top: 20px;
    }
    
    .learn_about_solution {
        width: 50%;
        padding-left: 12px;
        font-weight: 500;
        font-size: 14px;
        color: #1C1B2F;
    }
    
    .btn_register_oneself {
        display: none;
        width: 264px;
        height: 48px;
        background-color: #F38F57;
        color: #FFF;
        border: 2px solid #F38F57;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 60px;
    }
}
/* ----------- конец section 6----------- */
/* -----------конец кода для main----------- */

/* ------------начало css кода для подвала------------ */

.footer_container {
    display: flex;
    flex-direction: row;
    background-color: #1C1B2F;
    color: #FFFFFF;
    padding: 40px 160px 53px;
    padding-top: 40px;
    padding-bottom: 53px;
    justify-content: space-between;
    gap: 16px;
}

.footer_logo {
    width: 156px;
    height: 80px;
}

.public_offer {
    padding-top: 20px;
    padding-left: 28px;
    font-weight: 500;
    font-size: 16px;
}

.index_phone_mail {
    display: flex;
    flex-direction: row;
    padding-top: 33px;
    gap: 52px;
}

.index {
    font-size: 16px;
    font-weight: 500;
}

.footer_mail {
    font-size: 16px;
    font-weight: 500;
}

.footer_phone_number {
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer_container {
        display: flex;
        flex-direction: row;
        background-color: #1C1B2F;
        color: #FFFFFF;
        padding: 56px 44px;
        justify-content: space-between;
        gap: 16px;
    }
    
    .footer_logo {
        width: 99px;
        height: 52px;
    }
    
    .public_offer {
        padding-top: 30px;
        padding-left: 17px;
        font-weight: 500;
        font-size: 14px;
    }
    
    .index_phone_mail {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        gap: 40px;
    }
    
    .index {
        font-size: 14px;
        font-weight: 500;
    }
    
    .footer_mail {
        font-size: 14px;
        font-weight: 500;
    }
    
    .footer_phone_number {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer_container {
        display: flex;
        flex-direction: column-reverse;
        background-color: #1C1B2F;
        color: #FFFFFF;
        padding: 56px 0px 60px 0px;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
    
    .footer_logo {
        display: none;
        width: 99px;
        height: 52px;
    }
    
    .public_offer {
        padding-top: 0px;
        padding-left: 0px;
        font-weight: 500;
        font-size: 12px;
        color: #D3D3D8;
    }
    
    .index_phone_mail {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        gap: 40px;
    }
    
    .index {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    
    .footer_mail {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    
    .footer_phone_number {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}
/* ------------конец css кода для подвала------------ */